button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  .container {
    margin-top: 12.5%;
    width: 50%;
    border: 3px solid green;
    padding: 20px;
  }

  input[type=number], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 3px solid #ccc;
    box-sizing: border-box;
  }

  
  body{
background-color: #51515190;


  }